
<div class= "row">
  <div class="col-md-12">
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |user| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= user.label :username %>
        </div>
        <div class="col-md-8">
          <%= user.text_field :username, class: "form-control", placeholder: "Type your username", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= user.label :email %>
        </div>
        <div class="col-md-8">
          <%= user.email_field :email, class: "form-control", placeholder: "Enter your email" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= user.label :password %>
        </div>
        <div class="col-md-8">
          <%= user.password_field :password, class: "form-control", placeholder: "Choose a password" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= user.label :password_confirmation, "Confirm password" %>
        </div>
        <div class="col-md-8">
          <%= user.password_field :password_confirmation, class: "form-control", placeholder: "Confirm your password" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= user.submit(@user.new_record? ? "Sign Up" : "Update", class: "btn btn-primary btn-lg btn-xlarge") %>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4">
      [ <%= link_to "Cancel request and return to scenes listing", scenes_path %> ]
    </div>
  </div>
</div>
